<!DOCTYPE html>
<html>
  <head>
    <title>Bake</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <%= yield %>
  </body>
 </html>